*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #202020;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

h1, h2, span{
    color: #fff;
}

form{
    display: flex;
    flex-direction: column;

    gap: 15px;
}

input{
    padding: 10px;
    border-radius: 7px;
    border: 0;
    outline: 0;
}

input[type="submit"]{
    cursor: pointer;
    color: #fff;
    background-color: #3d706e;
}
